.container {
  padding: 2rem 1rem;
}
header {
  text-align: center;
  background-color: dimgray;
  padding: 2rem 3rem;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.navbar {
  background-color: grey;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.list-non-bullet {
  list-style: none;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  margin-right: 2rem;
}

.list-item-inline {
  display: inline;
}

a:hover {
  text-decoration: underline;
}

.blog-post-title {
  border: 1px solid lightgrey;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.post-title {
  font-size: 2rem;
  font-weight: 500;
}

.post-preview {
  border: 1px solid lightgray;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.posts {
  border: 1px solid lightgray;
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
}
.post {
  font-size: 1.25rem;
}

footer {
  background-color: dimgray;
  padding: 1.5rem 2rem;
}
